.container {
  width: 960px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
p {
  margin-bottom: 0;
}
.flex {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ccc;
}
#newMember{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ccc;
}
th {
  font-weight: normal;
}
#select,
#search {
  text-align: center;
  margin: 10px;
}
#select select,
#search input,
.flex input {
  width: 200px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  #select select,
  #search input {
    width: 50%;
  }
}
button {
  padding: 10px 20px;
  color: #fff;
  background: seagreen;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button:hover{
  opacity: .7;
}
.editBtn{
  height:50%;
}
.members_name {
  font-weight: bold;
  font-size: 130%;
}
#form {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#form_head {
  font-size: 120%;
}
#form .form_label {
  text-align: left;
}
#form .form_box {
  margin-bottom: 20px;
}
#form input {
  display: block;
  margin: auto;
  width: 100%;
  border: 1px solid #333;
  border-radius: 3px;
}
