.container {
  width: 960px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: auto;
  }
}
#select {
  text-align: center;

}
p {
  margin-bottom: 0;
}
th {
  font-weight: normal;
}
table {
  margin: 10px;
}
#select_sort {
  padding: 10px;
  margin: 10px;
}
.flex {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid #ccc;
}

/* .members_name {
  font-weight: bold;
  font-size: 130%;
} */
#form {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#form_head {
  font-size: 120%;
}
#form .form_label {
  text-align: left;
}
#form .form_box {
  margin-bottom: 20px;
}
#form input {
  display: block;
  margin: auto;
  width: 100%;
  border: 1px solid #333;
  border-radius: 3px;
}
#form #register_btn,
#sort_btn {
  padding: 10px 20px;
  color: #fff;
  background: seagreen;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#form #register_btn:hover,
#sort_btn:hover {
  opacity: 0.7;
}
